<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="unittestKinds" name="%testKinds.name" schema="schema/unittestKinds.exsd"/>
   <extension-point id="testRunListeners" name="%testRunListeners.name" schema="schema/testRunListeners.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%View.label"
            icon="$nl$/icons/full/eview16/unit.png"
            category="org.eclipse.debug.ui"
            fastViewWidthRatio="0.40"
            class="org.eclipse.unittest.ui.TestRunnerViewPart"
            id="org.eclipse.unittest.ResultView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
         name="%GotoTestCommand.name"
         description="%GotoTestCommand.description"
         categoryId="org.eclipse.search.ui.category.search"
         id="org.eclipse.unittest.gotoTest">
      </command>
      <command
            name="%UnitTestShortcut.description.run"
            description="%UnitTestShortcut.description.run"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.unittest.UnitTestShortcut.run">
      </command>
      <command
            name="%UnitTestShortcut.description.debug"
            description="%UnitTestShortcut.description.debug"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.unittest.UnitTestShortcut.debug">
      </command>
      <command
            name="%UnitTestShortcut.description.rerunLast"
            description="%UnitTestShortcut.description.rerunLast"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.unittest.UnitTestShortcut.rerunLast">
      </command>
      <command
            name="%UnitTestShortcut.description.rerunFailedFirst"
            description="%UnitTestShortcut.description.rerunFailedFirst"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.unittest.UnitTestShortcut.rerunFailedFirst">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M2+M3+D T"
            commandId="org.eclipse.jdt.junit.junitShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!-- On carbon: Shift+Option+D is a character, Command+Option+D is Show/Hide Dock, Command+Control+D is dictionary lookup -->
      <key
            platform="carbon"
            sequence="M2+M3+D T"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M1+M3+M4+D T"
            commandId="org.eclipse.jdt.junit.junitShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M2+M3+X T"
            commandId="org.eclipse.jdt.junit.junitShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M2+M3+X T"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            platform="carbon"
            sequence="M1+M3+X T"
            commandId="org.eclipse.jdt.junit.junitShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.unittest.testRunListeners">
      <testRunListener
            class="org.eclipse.unittest.internal.ui.UITestRunListener">
      </testRunListener>
   </extension>

</plugin>
